a {
  text-decoration: none;
  color: inherit;
}

body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}

.img {
  display: block;
  width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

section {
  padding: 120px 0;
}

/* font-family: "Raleway", sans-serif; */

/* #region header */

.page-header {
  border-bottom: 1px solid #e7e9fc;
}

.page-header .container {
  display: flex;
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
  justify-content: space-between;
  align-items: center;
}

.page-nav {
  display: flex;
  align-items: center;
}

.main-logo {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
  color: #4d5ae5;
  margin-right: 76px;
  display: flex;
  align-items: center;
}

.page-header .logo-accent {
  color: #2e2f42;
}

.nav-list {
  display: flex;
  gap: 40px;
}

.nav-list-item {
}

.nav-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  display: block;
  padding: 24px 0;
}

.nav-link:hover,
.nav-link:focus {
  color: #404bbf;
}

.header-address {
  font-style: normal;
}

.header-address-list {
  display: flex;
  gap: 40px;
}

.header-address-item {
}

.header-address-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.header-address-link:hover,
.header-address-link:focus {
  color: #404bbf;
}
/* #endregion header */

/* #region Hero section */
.section-hero {
  background-color: #2e2f42;
  padding: 188px 0;
}

.hero-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #ffffff;
  max-width: 496px;
  margin: 0 auto;
  margin-bottom: 48px;
}

.hero-btn {
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  background-color: #4d5ae5;
  color: #ffffff;
  margin: 0 auto;
}

.hero-btn:hover,
:focus {
  background-color: #404bbf;
}

/* #endregion Hero section */

/* #region Values section */
.values {
}

.values-title {
  color: #2e2f42;
}

.values-list {
  display: flex;
  gap: 24px;
}

.values-item {
  width: calc((100% - 72px) / 4);
}

.values-item-title {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.values-item-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
/* #endregion Values section */

/* #region Team section */
.team {
  background-color: #f4f4fd;
  padding: 120px 0;
}

.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}

.team-list {
  display: flex;
  gap: 24px;
}

.team-item {
  border-radius: 0 0 4px 4px;
  width: calc((100% - 72px) / 4);
  background-color: #ffffff;
}

.team-img {
  display: block;
  width: 100%;
  height: auto;
}

.team-member-info {
  padding: 32px 0;
}

.team-member-name {
  text-align: center;
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.team-member-role {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
}
/* #endregion Team section */

/* #region Portfolio section */
.portfolio {
  padding-top: 120px 0;
}

.portfolio-title {
  margin-bottom: 72px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.portfolio-item {
  width: calc((100% - 48px) / 3);
}

.portfolio-img {
}

.portfolio-item-info {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.portfolio-item-title {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.portfolio-item-categori {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
/* #endregion Portfolio section */

/* #region Footer */
.footer {
  padding: 100px 0;
  background-color: #2e2f42;
}

.footer-logo {
  display: inline-block;
  margin-bottom: 16px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.footer .logo-accent {
  color: #f4f4fd;
}

.footer-text {
  max-width: 264px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}
/* #endregion Footer */
